<div style="color: #3F51B5; font-weight: 500; font-size: 18px; display: flex; align-items: center; gap: 8px;">
  {{ projectname | titlecase }}
  <mat-icon style="    color: grey;
    font-size: 25px;">keyboard_arrow_right</mat-icon>
</div>

<div class="project-container">
  <div class="header-container mat-elevation-z1">
    <div class="header-left">
      <mat-icon class="back-icon" (click)="goBack()">arrow_back</mat-icon>
      <span class="heading-text">Tasks</span>
    </div>

    <div class="action-container">
      <button class="projectbutton" mat-raised-button (click)="addtaskview()" *ngIf="canAddProject"
        style="white-space: nowrap;">Add Task</button>

      <input matInput type="text" class="search" placeholder="Search Tasks" [(ngModel)]="field"
        (ngModelChange)="onSearchChange()" />
    </div>
  </div>


  <div id="table-container" class="table-wrapper">
    <section class="mat-elevation-z8 project-table-style">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" oncopy="return false">
        <ng-container matColumnDef="SerialNum">
          <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by SerialNum" class="nowrap"> S No
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.serialNum }} </td>
        </ng-container>

        <ng-container matColumnDef="TaskId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by TaskId" class="nowrap">
            Task Id</th>
          <td mat-cell *matCellDef="let element" class="projectid"
            (click)="addsubtask(element.taskid,element.ticketid,element.targetdate,element.startdate,element.status ,element.taskName)">

            {{ element.ticketid }}

          </td>
        </ng-container>

        <ng-container matColumnDef="TaskName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by TaskName" class="nowrap">
            Task Name
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="ellipsis-text" [matTooltip]="element.taskName | titlecase">
              {{ element.taskName| titlecase }}
            </span>
          </td>
        </ng-container>



        <ng-container matColumnDef="AssignedTo">
          <th mat-header-cell *matHeaderCellDef class="nowrap">
            Assigned To
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="getDisplayNames(element.assignUsers)"
            class="assigned-users-cell">
            <div class="assigned-users-overlap-wrapper">
              <ng-container *ngFor="let user of element.assignUsers | slice:0:3; let i = index">
                <div class="avatar-circle overlapped-avatar"
                  [ngStyle]="{ 'background-color': getColor(i), 'z-index': 10 - i }">
                  <!-- Call the method getInitial here -->
                  {{ getInitial(user) | titlecase}}
                </div>
              </ng-container>

              <ng-container *ngIf="element.assignUsers.length > 3">
                <div class="avatar-circle overlapped-avatar more-circle">+{{ element.assignUsers.length - 3 }}</div>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="editingStatusId === element.id; else displayStatus">
              <mat-form-field appearance="fill" class="custom-status-field">
                <mat-select [value]="element.status"
                  (selectionChange)="onStatusChange(element.taskid, $event.value, element)">


                  <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                    <span class="status-chip" [ngStyle]="{
                                '--chip-color': status.color
                              }">
                      {{ status.label }}
                    </span>
                  </mat-option>


                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-template #displayStatus>
              <span class="status-badge" [ngStyle]="{ 'background-color': getStatusColor(element.status) }"
                (click)="setEditingRow(element.id)" style="cursor: pointer;">
                {{ element.status }}
              </span>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Priority">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Priority" class="nowrap">
            Priority </th>
          <td mat-cell *matCellDef="let element">
            <span class="priority-badge" [ngStyle]="{'background-color': getPriorityClass(element.priority)}">
              {{ element.priority }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by StartDate"
            class="nowrap"> Start Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startdate ? (element.startdate | date: 'dd-MM-yyyy') : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="DueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by DueDate" class="nowrap">
            Due Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.targetdate ? (element.targetdate | date: 'dd-MM-yyyy') : '-' }}

          </td>
        </ng-container>
        <ng-container matColumnDef="Duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Duration" class="nowrap">
            Duration</th>
          <td mat-cell *matCellDef="let element">
            {{ element.duration ? element.duration + ' Day(s)' : '-' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="UpdatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Duration" class="nowrap">
            Last UpdatedBy</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fullname ? (element.fullname | titlecase) : '-' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <span class="action-buttons">
              <button mat-icon-button (click)="edittaskview(element)" *ngIf="canEditProject">
                <mat-icon class="edit-icon">edit</mat-icon>
              </button>
              <button mat-icon-button class="action-button-ed" (click)="deleteTask(element)" *ngIf="canDeleteProject">
                <mat-icon class="delete-icon">delete</mat-icon>
              </button>
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="ViewFiles">
          <th mat-header-cell *matHeaderCellDef>Files </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="openFilesDialog(row.files)" class="viewfiles">View
              Files</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="MoreInfo">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Description" matTooltipPosition="above" (click)="showDescription(row)">
              <mat-icon style="color: blue;">info</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Comment" matTooltipPosition="above" (click)="showComments(row)">
              <mat-icon style="color: blue;">comment</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Attachments" matTooltipPosition="above"
              (click)="openTemplateDialog(attachmentsTemplate, row)">
              <mat-icon style="color: blue;">attach_file</mat-icon>
            </button>


          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataTableColumns;"></tr>
      </table>
      <p class="no-data-found" *ngIf="!dataSource.data.length">{{'No matching data found'}}</p>
    </section>
  </div>

  <div class="paginator">
    <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageSize" [disabled]="false"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="true" [pageIndex]="currentPageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
<ng-template #filesDialog>
  <h2 mat-dialog-title>Attached Files</h2>
  <mat-dialog-content>
    <ng-container *ngIf="selectedFiles?.length; else noFiles">
      <table mat-table [dataSource]="selectedFiles" class="file-table mat-elevation-z1">

        <!-- File Icon Column -->
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let file">
            <mat-icon color="primary">insert_drive_file</mat-icon>
          </td>
        </ng-container>

        <!-- File Name Column -->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef> File Name </th>
          <td mat-cell *matCellDef="let file">
            {{ file.fileName.split('-')[0] }}
          </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef> View </th>
          <td mat-cell *matCellDef="let file">
            <button mat-icon-button color="primary" (click)="viewFile(file)" >
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Download Column -->
        <!-- Download Column -->
        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef> Download </th>
          <td mat-cell *matCellDef="let file">
            <button mat-icon-button color="accent" (click)="downloadFile(file)">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="fileDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: fileDisplayedColumns;"></tr>
      </table>
    </ng-container>

    <ng-template #noFiles>
      <p class="nodata">No files available.</p>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
<!-- View Container for the Dialog -->
<ng-template #previewDialog>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 style="margin: 2;">Image Preview</h2>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <img [src]="previewUrl" alt="Image" style="width: 100%; height: 400px; object-fit: contain;" />
  </mat-dialog-content>
</ng-template>
<ng-template #commentsDialog>
  <h2 mat-dialog-title class="header-text">Add Comment</h2>

  <mat-dialog-content>
    <!-- Comment Textarea -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Comment</mat-label>
      <textarea matInput rows="4" [(ngModel)]="commentText" name="comment" required #commentCtrl="ngModel"></textarea>

      <mat-error *ngIf="commentCtrl.invalid && commentCtrl.touched">
        Comment cannot be Empty
      </mat-error>
    </mat-form-field>


    <!-- Comment List -->
    <div *ngIf="commentsList && commentsList.length" class="comment-section mt-3 p-2 rounded">
      <h4 class="mt-1">Comments</h4>
      <div *ngFor="let comment of commentsList" class="mb-3">

        <!-- First line: badge + name + date -->
        <span class="sidebyside">
          <span class="initial-badge me-2">
            {{ comment.fullname?.charAt(0) | uppercase | titlecase}}
          </span>
          <span>
            <p class="commentdata">
              <strong>{{ comment.fullname | titlecase }}</strong> - {{ comment.createddate }}
            </p>
          </span>
        </span>

        <!-- Second line: description -->
        <p class="usercomment">{{ comment.description }}</p>
      </div>
    </div>

    <!-- No comments -->
    <div *ngIf="commentsList.length === 0" class="mt-2 text-muted">No comments yet.</div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeCommentsDialog()" class="projectbutton">Cancel</button>
    <button mat-raised-button color="primary" (click)="submitComment()" class="projectbutton">Add Comment</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #descriptionDialog let-data>
  <h2 mat-dialog-title class="comment-text">Task Description</h2>

  <mat-dialog-content class="description-content">
    <p>{{ data.description }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="add-project">Close</button>
  </mat-dialog-actions>
</ng-template>
<!-- Dialog Template -->
<ng-template #attachmentsTemplate>
  <h2 mat-dialog-title style="background: rgba(52, 61, 255, 0.17);
    padding: 5px;     padding-left: 18px !important;
    padding-bottom: 14px;">Report</h2>

  <mat-dialog-content style="padding: 18px;">
    <div class="upload-wrapper">
      <input type="file" id="file-upload" multiple hidden (change)="onFileSelectedReport($event)" />
      <label for="file-upload" class="custom-upload-button">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload Files</span>
      </label>
    </div>

    <div class="file-preview-list" *ngIf="existingFilesReport.length > 0 || selectedFilesReport.length > 0">

      <!-- Existing Files from Server -->
      <div class="file-item" *ngFor="let file of existingFilesReport; let i = index">
        <span class="file-name">{{ file.fileName }}</span>
        <div class="file-actions">
          <button mat-icon-button color="warn" (click)="DeleteUploadfile(file.id)">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>

      <!-- Newly Selected Files -->
      <div class="file-item" *ngFor="let file of selectedFilesReport; let j = index">
        <span class="file-name">{{ file.name }}</span>
        <div class="file-actions">
          <button mat-icon-button (click)="removeSelectedFile(j)">
            <mat-icon color="warn">delete</mat-icon>
          </button>

        </div>
      </div>

    </div>

  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>


    <button mat-flat-button color="primary" (click)="submitFiles()">
      Save
    </button>
  </mat-dialog-actions>


</ng-template>