<!-- top header container -->
<section class="header-container">
    <span class="header-text" mat-dialog-title>
        Add Privilege
    </span>

</section>
<!-- mat-card starts -->
<mat-card class="card">
    <!-- form- starts -->
    <form [formGroup]="privilegeForm" class="project-form">
        <section class="form-container">
            <!-- Project Name -->
            <mat-form-field appearance="outline" class="project-name-field">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type" maxlength="64" />
                <mat-error *ngIf="privilegeForm.get('type')!.hasError('required')">Type
                    is Required
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('type')?.hasError('whitespace')">
                    Whitespace is not allowed
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('type')?.hasError('noLetter')">
                    Type must include at least one letter
                </mat-error>
                <mat-error
                    *ngIf="privilegeForm.get('type')?.hasError('minlength') && privilegeForm.get('type')?.touched">
                    Minimum 2 characters required
                </mat-error>

                <mat-error
                    *ngIf="privilegeForm.get('type')?.hasError('maxlength') && privilegeForm.get('type')?.touched">
                    Maximum 50 characters allowed
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="project-name-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" maxlength="64" />
                <mat-error *ngIf="privilegeForm.get('name')!.hasError('required')">Name
                    is Required
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('name')?.hasError('whitespace')">
                    Whitespace is not allowed
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('name')?.hasError('noLetter')">
                    Name must include at least one letter
                </mat-error>
                <mat-error
                    *ngIf="privilegeForm.get('name')?.hasError('minlength') && privilegeForm.get('name')?.touched">
                    Minimum 2 characters required
                </mat-error>

                <mat-error
                    *ngIf="privilegeForm.get('name')?.hasError('maxlength') && privilegeForm.get('name')?.touched">
                    Maximum 50 characters allowed
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="project-name-field">
                <mat-label>Privilege Type</mat-label>
                <input matInput formControlName="cardType" maxlength="64" />
                <mat-error *ngIf="privilegeForm.get('cardType')!.hasError('required')">privilege Type
                    is Required
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('cardType')?.hasError('whitespace')">
                    Whitespace is not allowed
                </mat-error>
                <mat-error *ngIf="privilegeForm.get('cardType')?.hasError('noLetter')">
                    Name must include at least one letter
                </mat-error>
                <mat-error
                    *ngIf="privilegeForm.get('cardType')?.hasError('minlength') && privilegeForm.get('cardType')?.touched">
                    Minimum 2 characters required
                </mat-error>

                <mat-error
                    *ngIf="privilegeForm.get('cardType')?.hasError('maxlength') && privilegeForm.get('cardType')?.touched">
                    Maximum 50 characters allowed
                </mat-error>
            </mat-form-field>

        </section>
    </form>
</mat-card>

<div class="form-action-buttons">
    <button mat-raised-button class="btn-cancel" color="white" class="actionbutton" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="privilegeForm.invalid || isLoading" class="actionbutton"
        (click)="onSave()" style="display: flex; align-items: center; justify-content: center; gap: 8px;">
        <mat-spinner *ngIf="isLoading" diameter="20" color="accent"></mat-spinner>
        <span *ngIf="!isLoading">Save</span>
    </button>
</div>