<div class="project-container">
    <div class="header-container mat-elevation-z1">
        <div class="header-left">
            <span class="heading-text">Notification</span>
        </div>
    </div>

    <div id="table-container" class="table-wrapper">
        <section class="mat-elevation-z8 project-table-style">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%">
                <!-- S.No -->
                <ng-container matColumnDef="SerialNum">
                    <th mat-header-cell *matHeaderCellDef class="nowrap">S.No</th>
                    <td mat-cell *matCellDef="let element">{{ element.serialNum }}</td>
                </ng-container>

                <!-- Notification Type (Name) -->
                <ng-container matColumnDef="NotificationType">
                    <th mat-header-cell *matHeaderCellDef class="nowrap">Notification Type</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="ellipsis-text">
                            {{ getNotificationLabel(element.taskName) }}
                        </span>
                    </td>
                </ng-container>

                <!-- Notification Status (Toggle) -->
                <ng-container matColumnDef="NotificationStatus">
                    <th mat-header-cell *matHeaderCellDef class="nowrap">Notification Status</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.enabled" (change)="toggleStatus($event, element)"
                            [color]="element.enabled ? 'primary' : 'warn'">
                            {{ element.enabled ? 'On' : 'Off' }}
                        </mat-slide-toggle>


                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: dataTableColumns"></tr>
            </table>


            <p class="no-data-found" *ngIf="!dataSource.data.length">No matching data found</p>
        </section>
    </div>
</div>
<ng-template #emailEditDialog>
    <h2 mat-dialog-title style="background-color: #343DFF36; padding: 12px;">
        Email Confirmation
    </h2>
    <mat-dialog-content style="padding: 16px; min-height: 120px; display: flex; align-items: center; font-size: 14px;">
        Do you want to edit the &nbsp;<strong>Subject</strong>, &nbsp;<strong>CC</strong>, or
        &nbsp;<strong>BCC</strong>&nbsp;
        before sending the email?
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="padding: 8px 16px;">
        <button mat-button (click)="dialogRef.close(false)">No</button>
        <button mat-raised-button color="primary" (click)="dialogRef.close(true)">Yes</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #editFieldsDialog>
    <h2 mat-dialog-title style="background-color: #343DFF36; padding: 12px;">Edit Email Details</h2>
    <mat-dialog-content [formGroup]="emailForm" style="padding-top: 25px;">

        <!-- Subject -->
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject">
            <mat-error
                *ngIf="emailForm.controls['subject'].touched && emailForm.controls['subject'].errors?.['whitespaceOnly']">
                Only whitespace are not allowed.
            </mat-error>

        </mat-form-field>

        <!-- CC -->
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>CC</mat-label>
            <input matInput formControlName="cc" placeholder="e.g., team@example.com, hr@example.com">
            <mat-error *ngIf="emailForm.controls['cc'].touched && emailForm.controls['cc'].errors?.['whitespaceOnly']">
                Only whitespace are not allowed.
            </mat-error>
            <mat-error
                *ngIf="emailForm.controls['cc'].touched && emailForm.controls['cc'].errors?.['invalidEmailList']">
                Email are invalid.</mat-error>

        </mat-form-field>

        <!-- BCC -->
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>BCC</mat-label>
            <input matInput formControlName="bcc" placeholder="e.g., team@example.com, hr@example.com">

            <mat-error
                *ngIf="emailForm.controls['bcc'].touched && emailForm.controls['bcc'].errors?.['whitespaceOnly']">
                Only whitespace are not allowed.
            </mat-error>
            <mat-error
                *ngIf="emailForm.controls['bcc'].touched && emailForm.controls['bcc'].errors?.['invalidEmailList']">
                Email are invalid.
            </mat-error>

        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button (click)="closeEditDialog()" class="actionbutton">Cancel</button>
        <button mat-raised-button color="primary" (click)="submitEmailForm()" class="actionbutton" [disabled]="
    emailForm.invalid ||
    (emailForm.get('subject')?.touched && emailForm.get('subject')?.errors?.['whitespaceOnly']) ||
    (emailForm.get('cc')?.touched && (emailForm.get('cc')?.errors?.['whitespaceOnly'] || emailForm.get('cc')?.errors?.['invalidEmailList'])) ||
    (emailForm.get('bcc')?.touched && (emailForm.get('bcc')?.errors?.['whitespaceOnly'] || emailForm.get('bcc')?.errors?.['invalidEmailList']))
  ">
            Submit
        </button>


    </mat-dialog-actions>
</ng-template>