<!-- top header container -->
<section class="header-container">
  <span class="header-text" mat-dialog-title>
    {{data.title}}
  </span>

</section>
<!-- mat-card starts -->
<mat-card class="card">
  <!-- form- starts -->
  <form [formGroup]="projectForm" class="project-form">
    <section class="form-container">
      <!-- Project Name -->
      <mat-form-field appearance="outline" class="project-name-field">
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="projectName" maxlength="64" placeholder="Enter Project Name"/>
        <mat-error *ngIf="projectForm.get('projectName')!.hasError('required')">Project Name
          is Required
        </mat-error>
        <mat-error *ngIf="projectForm.get('projectName')?.hasError('whitespace')">
          Whitespace is not allowed
        </mat-error>
        <mat-error *ngIf="projectForm.get('projectName')?.hasError('noLetter')">
          Project Name must include at least one letter
        </mat-error>
        <mat-error
          *ngIf="projectForm.get('projectName')?.hasError('minlength') && projectForm.get('projectName')?.touched">
          Minimum 2 characters required
        </mat-error>

        <mat-error
          *ngIf="projectForm.get('projectName')?.hasError('maxlength') && projectForm.get('projectName')?.touched">
          Maximum 50 characters allowed
        </mat-error>
      </mat-form-field>



      <!-- Description -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea rows="5" matInput formControlName="description"placeholder="Enter Description"></textarea>
        <mat-error *ngIf="projectForm.get('description')!.hasError('required')">Description is
          Required</mat-error>
        <mat-error *ngIf="projectForm.get('description')?.hasError('whitespace')">
          Whitespace is not allowed
        </mat-error>
        <mat-error *ngIf="projectForm.get('description')?.hasError('noLetter')">
          Description must include at least one letter
        </mat-error>
        <mat-error
          *ngIf="projectForm.get('description')?.hasError('minlength') && projectForm.get('description')?.touched">
          Minimum 2 characters required
        </mat-error>
      </mat-form-field>
      <!-- Status -->
      <mat-form-field appearance="outline" *ngIf="data.actionName === 'edit-project'">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="To Do">To Do</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="On Hold">On Hold</mat-option>
          <mat-option value="In Review">In Review</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.get('status')!.hasError('required')">Status
          Required</mat-error>
      </mat-form-field>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Assigned To</mat-label>
  <mat-select
  formControlName="assignedTo"
  multiple
  panelClass="search-select-panel"
  (openedChange)="onDropdownOpen($event)"
>
  <mat-option disabled class="search-option">
    <input
      type="text"
      [(ngModel)]="searchUser"
      [ngModelOptions]="{ standalone: true }"
      (input)="filterUsers()"
      (click)="$event.stopPropagation()"
      (keydown)="$event.stopPropagation()"
      placeholder="Search user"
      class="search-input"
    />
  </mat-option>

  <mat-option *ngFor="let member of filteredMembers" [value]="member">
    {{ member.userName }}
  </mat-option>
</mat-select>



  
  <mat-error *ngIf="projectForm.get('assignedTo')?.hasError('required')">
    Assigned To is required
  </mat-error>
</mat-form-field>



      <!-- Start Date -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate" [min]="minStartDate" readonly />
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>



      <!-- Due Date -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="duePicker" [matDatepickerFilter]="dueDateFilter" formControlName="dueDate"
          readonly />
        <mat-datepicker-toggle matSuffix [for]="duePicker"></mat-datepicker-toggle>
        <mat-datepicker #duePicker></mat-datepicker>
      </mat-form-field>


      <div class="file-upload-container">
        <!-- Upload Button -->
        <label for="file-upload" class="custom-upload-button">
          <mat-icon>cloud_upload</mat-icon>
          <span>Upload Files</span>
        </label>
        <input id="file-upload" type="file" (change)="onFileChange($event)" multiple class="file-input-hidden" />

        <!-- Preview Existing + Selected Files -->
        <div class="file-preview-list" *ngIf="existingFiles.length > 0 || selectedFiles.length > 0">

          <!-- Existing Files from Server -->
          <div class="file-item" *ngFor="let file of existingFiles; let i = index">
            <span class="file-name">{{ file.fileName }}</span>
            <button mat-icon-button color="warn" (click)="removeExistingFile(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <!-- Newly Selected Files -->
          <div class="file-item" *ngFor="let file of selectedFiles; let i = index">
            <span class="file-name">{{ file.name }}</span>
            <button mat-icon-button color="warn" (click)="removeFile(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>



    </section>
  </form>
</mat-card>

<div class="form-action-buttons">
  <button mat-raised-button class="btn-cancel" color="white" class="actionbutton" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="projectForm.invalid || isSubmitting" class="actionbutton"
    (click)="data.actionName === 'edit-project' ? updateProject() : createProject()">
    <mat-progress-spinner *ngIf="isSubmitting" diameter="20" mode="indeterminate" color="accent" class="button-spinner">
    </mat-progress-spinner>
    <span *ngIf="!isSubmitting">
      {{ data.actionName === 'edit-project' ? 'Update' : 'Submit' }}
    </span>
  </button>

</div>