<div class="project-container">
    <div class="header-container mat-elevation-z1">
        <div class="header-left">
          <span class="header-text">Roles</span>
        </div>
      
        <div class="action-container">
          <button class="projectbutton" mat-raised-button (click)="addRole()">Add Role</button>
      
          <input
          matInput
          type="text"
          class="search"
          placeholder="Search Roles"
          [(ngModel)]="field"
          (ngModelChange)="applyFilter()" />
        
        </div>
      </div>
      
      
    <div id="table-container" class="table-wrapper">
        <section class="mat-elevation-z8 project-table-style">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" oncopy="return false">
              
              <ng-container matColumnDef="SerialNum">
                <th mat-header-cell *matHeaderCellDef  class="nowrap"> S No </th>
                <td mat-cell *matCellDef="let element"> {{ element.serialNum }} </td>
              </ng-container>
        
              <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by roleName" class="nowrap"> Role </th>
                <td mat-cell *matCellDef="let element">
                  <span
                    (click)="navigateToPrivilege(element.roleName , element.roleid)"
                    class="roleName"
                  >
                    {{ element.roleName | titlecase}}
                  </span>
                </td>
              </ng-container>
                  <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by description" class="nowrap"> Description </th>
                <td mat-cell *matCellDef="let element">
                  <span
                  >
                    {{ element.description | titlecase}}
                  </span>
                </td>
              </ng-container>
          <ng-container matColumnDef="addedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by addedBy" class="nowrap"> AddedBy </th>
                <td mat-cell *matCellDef="let element">
                  <span
                  >
                    <!-- {{ element.description | titlecase}} -->
                      {{element.addedByName |titlecase}}
                  </span>
                </td>
              </ng-container>  <ng-container matColumnDef="updatedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by updatedBy" class="nowrap"> UpdatedBy </th>
                <td mat-cell *matCellDef="let element">
                  <span
                  >
                    <!-- {{ element.description | titlecase}} -->
                      {{element.updatedByName | titlecase}}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <span class="action-buttons">
                    <button mat-icon-button (click)="edittaskview(element)">
                      <mat-icon class="edit-icon">edit</mat-icon>
                    </button>
                    <button mat-icon-button class="action-button-ed" (click)="deleterole(element)">
                      <mat-icon class="delete-icon">delete</mat-icon>
                    </button>
                  </span>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="dataTableColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: dataTableColumns;"></tr>
            </table>
        
            <p class="no-data-found" *ngIf="dataSource.filteredData.length === 0">No matching data found</p>
          </section>
    </div>
 <div class="paginator">
    <mat-paginator (page)="handlePageEvent($event)" [length]="totalItems" [pageSize]="pageSize" [disabled]="false"
      [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
      [hidePageSize]="true" [pageIndex]="currentPageIndex" aria-label="Select page">
    </mat-paginator>
  </div>

</div>